/* Elementos obtenidos de: W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* https://www.w3schools.com/w3css/4/w3.css */

/* WimumoLight.css y WimumoDark.css agregan las deficiniciones a todos los colores */

html {
  display: flex;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  background-color: var(--background-color2);
}
* , *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-body); 
  line-height: 1.5;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  color: var(--text-color);
  background-color: var(--background-color1);
}

h1 {
  font-size: var(--font-size-h1);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
h2 { 
  font-size: var(--font-size-h2);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0; 
}
h3 {
  font-size: var(--font-size-h3);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
h4 {
  font-size: var(--font-size-h4);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
h5 {
  font-size: var(--font-size-h5);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
h6 {
  font-size: var(--font-size-h6);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
hr {
  border: 0px;
  border-top: 1px solid;
  margin: 20px;
  opacity: 0.60;
  overflow: visible;
}
b, strong {
  font-weight: bolder;
}
mark {
  background-color: var(--mark-color);
  border-radius: 5px;
}
a {
  color: inherit;
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0
}
button {
  font: inherit;
}
button:active { /* new focus */
  background-color: var(--button-color-active);
  border: 2px solid var(--button-color-border);
}

/* input types*/
input[type="radio"]{
  accent-color: var(--radio-color-accent);
}
input[type="checkbox"] {
  width: 2em;
  height: 2rem;
  accent-color: var(--checkbox-color-accent)
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:hover {
  color: var(--color-black);
}
.checkboxLabel {
  font-size: var(--font-size-checkbox); /* Match the font size to the checkbox height */
}


div {
  display: block;
}

:focus-visible{
  outline: none;
}

/* Diseño dinámico */
[hidden] {
  display: none!important;
}

.menu {
  height: 100%; 
  width: 300px;
  z-index: 3;
  position: fixed;
  top: 0;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  color: var(--text-menu-color);
  background-color: var(--background-menu-color);
  animation: animateleft 0.4s;
}
@media (max-width:992px){.menu{display: none;}.menu[shown]{display: block;}}
@media (min-width:993px){.menu{display: block;}.menu[shown]{display: block;}}


.menu-title {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.menu-title-text {
  text-decoration: none; /* Removes the underline */
  color: inherit;
}

.menu-button {
  display: block;
  width: 100%;
  float: none;
  border: none;
  outline: 0;
  padding: 8px 16px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  user-select: none;
  white-space: normal;
  margin-bottom: 2px;
}

.menu-button:hover {
  color: var(--menu-button-hover-color);
  background-color: var(--menu-button-hover-background-color);
}

/* new menus focus*/
.menu-button:active {
  box-shadow: 0 0 0 2px var(--menu-button-active-boxshadow); 
}

.menu-close-button {
  width: auto;
  float: right;
  margin-right: 16px;
  font-size: var(--font-size-h3);
}
@media (max-width:992px){.menu-close-button{display: block;}}
@media (min-width:993px){.menu-close-button{display: none;}}

.menu-top-bar {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 16px;
  font-size: var(--font-size-h3);
  color : var(--text-menu-color);
  background-color: var(--background-menu-color);
}
@media (max-width:992px){.menu-top-bar{display: block;}}
@media (min-width:993px){.menu-top-bar{display: none;}}

.menu-top-title {
  float: left;
  padding: 8px 16px;
}

.menu-top-button {
  width: auto;
  float: right;
}

.menu-overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-color);
  cursor: pointer;
  animation: opac 0.8s;
}
@media (max-width:992px){.menu-overlay{display: none;}.menu-overlay[shown]{display: block;}}
@media (min-width:993px){.menu-overlay{display: none;}.menu-overlay[shown]{display: none;}}


.main {
  transition: margin-left .4s;
}
@media (max-width:992px){.main{margin-left: 0; margin-right: 0; margin-top: 83px;}}
@media (min-width:993px){.main{margin-left: 300px;}}

.main > div {
  min-height: 100%;
  padding: 32px;
}

.bottom-paragraph {
  position: fixed;
  bottom: 30px;
  /*background-color: white; /* Optional: background color to ensure readability */
  /*padding: 10px; /* Optional: padding for spacing */
  /*text-align: center; /* Optional: center the text */
  /*box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

#instrucciones {
  text-align: justify;
}


.graph {
  display: inline-block;
  vertical-align: top;
  padding: 16px;
  margin: 8px 16px 8px 0px;
  background-color: var(--graph-background-color1);
}
.graph select {
  min-width: 200px;
  padding: 8px;
  border: none;
  font: inherit;
}
.graph select:focus{
  background-color: var(--graph-background-color2);
  /*border: 2px solid var(--color-dark-grey);*/
  box-shadow: 0 0 0 2px var(--graph-box-shadow);
}
.graph canvas {
  display: block;
  background-color: var(--graph-background-color2);
  margin: 8px 0px;
}
.graph button {
  float: right;
  width: 24px;
  height: 24px;
  background-color: inherit;
  border: none;
  margin-top: 4px;
}
.graph button:hover {
  background-color: var(--graph-button-hover);
}
.graph button:active {
  box-shadow: 0 0 0 1px var(--graph-box-shadow);
}
button.zoomIn{
  background-image: url('../assets/images/zoomin.png');
  margin-right: 8px;
}
button.zoomOut{
  background-image: url('../assets/images/zoomout.png');
}
.graph > p {
  margin: 0px;
}

#graphButtonsDiv {
  display: block;
  margin-top: 8px;
}


.msg {
  padding: 16px;
}
.msg.error {
  background-color: var(--msg-error-color);
}
.msg.info {
  background-color: var(--msg-info-color);
}

footer {
  margin: 32px -32px -32px -32px;
  padding: 16px 32px;
  color: var(--text-color);
  background-color: var(--background-color2);
}



/* New Styles */

.inputError {
  color: var(--error-color);
  font-size: var(--font-size-input-error);
  display: none; /* Hide by default */
}

.inputLabel {
  padding-left: 20px; /* Adjust this value as needed for desired indentation */
}

.separator {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.right-button {
  position: absolute;
  /*
  left: 90%;
  top: 5%;
  transform: translateY(-50%);
  transform: translateX(-50%);*/
  right: 10px;
  bottom: 0px;
}

.container_relative {
  position: relative;
}

.select:focus {
  box-shadow: 0 0 0 1px var(--button-color-border);
}

.href-focus:focus {
  background-color: var(--href-background-color);
  color: var(--text-color);
  outline: none; /* Removes the default outline */
}

.slider:focus {
  color: var(--slider-color);
  box-shadow: 0 0 0 2px var(--slider-border); 
}

.hidden_p {
  color: var(--hidden-p-color);
  font-size: var(--font-size-hidden-p);
  display: none;
}


/* Home Page */

.homeContainer {
  padding: 20px;
  flex: 1;
  font-size: var(--font-size-home-container);
}

.ip-info {
  font-weight: bold;
}

.guide-link {
  color: var(--guide-link-color);
  text-decoration: underline;
  cursor: pointer;
}

/* The parent container */
.parent-centered {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  height: 100vh; /* Optional: to see the effect more clearly */
}

.child-centered {
  padding: 20px; /* Adds padding inside the container */
  text-align: center; /* Centers text within the container */
}





/* Guias */

#stepContainer {
  max-width: 600px;
  margin: 0 auto;
}

.step {
  display: block;
  color: var(--background-color2)
}

.step.active {
  display: block;
  color: var(--text-color)
}

.button_guide_right {
  position: absolute;
  right: 30px;
  margin: 20px auto;
  padding: 10px 20px;

}
.button_guide_left {
  position: absolute;
  left: 30px;
  margin: 20px auto;
  padding: 10px 20px;

}

.big_button {
  padding: 6px 16px;
  font-size: var(--font-size-big-button);
}




/* Google Fonts: 'Raleway'*/
/* https://fonts.googleapis.com/css?family=Raleway */

/* cyrillic-ext */
@font-face {font-family:'Raleway';font-style:normal;font-weight:400;
  src:url(../assets/fonts/font-raleway.woff2)format('woff2');
  unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* cyrillic */
@font-face {font-family:'Raleway';font-style:normal;font-weight:400;
  src:url(../assets/fonts/font-raleway.woff2)format('woff2');
  unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* vietnamese */
@font-face {font-family:'Raleway';font-style:normal;font-weight:400;
  src:url(../assets/fonts/font-raleway.woff2)format('woff2');
  unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* latin-ext */
@font-face {font-family:'Raleway';font-style:normal;font-weight:400;
  src:url(../assets/fonts/font-raleway.woff2)format('woff2');
  unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* latin */
@font-face {font-family:'Raleway';font-style:normal;font-weight:400;
  src:url(../assets/fonts/font-raleway.woff2)format('woff2');
  unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

