/* Elementos obtenidos de: W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* https://www.w3schools.com/w3css/4/w3.css */

:root {
  --font-size-body: small;
  --font-size-h1: xxx-large;
  --font-size-h2: xx-large; 
  --font-size-h3: x-large;
  --font-size-h4: x-large;
  --font-size-h5: large;
  --font-size-h6: large;

  --font-size-checkbox: var(--font-size-h3);

  --font-size-input-error: 16px;
  --font-size-hidden-p: 16px;

  --font-size-home-container: var(--font-size-h5); /* Home page container */

  --font-size-big-button: var(--font-size-h6);

  /* Allways sized */
  --font-size-allways-small: small;
  --font-size-allways-big: large;
}