/* Elementos obtenidos de: W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* https://www.w3schools.com/w3css/4/w3.css */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #9e9e9e;
  --color-light-grey: #f1f1f1;
  --color-dark-grey: #616161;
  --color-blue: #87CEEB;
  --color-light-blue: #ddffff;
  --color-light-red: #ffdddd;
  --hover-color-grey: #ccc;
  --hover-color-dark-grey: #757575;
  --text-color-grey: #757575;
  --text-color-dark-grey: #3a3a3a;
  --text-color-white: #fff;
  --overlay-color: rgba(0,0,0,0.5);
  --overlay-color-grey: #3a3a3a
}

html {
  display: flex;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  background-color: var(--color-grey); 
}
* , *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 15px; 
  line-height: 1.5;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  color: var(--text-color-white);
  background-color: var(--color-black);
}

hr {
  border: 0px;
  border-top: 1px solid;
  margin: 20px;
  opacity: 0.60;
  overflow: visible;
}
b, strong {
  font-weight: bolder;
}
mark {
  background-color: var(--color-light-blue);
  border-radius: 5px;
}
a {
  color: inherit;
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0
}
button {
  font: inherit;
}
button:focus { /* new focus */
  background-color: var(--color-light-grey);
  border: 2px solid var(--color-dark-grey);
}
input[type="radio"]{
  accent-color: var(--color-dark-grey);
}
div {
  display: block;
}

:focus-visible{
  outline: none;
}

/* Diseño dinámico */
[hidden] {
  display: none!important;
}

.menu {
  height: 100%; 
  width: 300px;
  z-index: 3;
  position: fixed;
  top: 0;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  color: var(--text-color-white);
  background-color: var(--color-dark-grey);
  animation: animateleft 0.4s;
}
@media (max-width:992px){.menu{display: none;}.menu[shown]{display: block;}}
@media (min-width:993px){.menu{display: block;}.menu[shown]{display: block;}}


.menu-title {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  font-weight: bold;
}

.menu-button {
  display: block;
  width: 100%;
  float: none;
  border: none;
  outline: 0;
  padding: 8px 16px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  user-select: none;
  white-space: normal;
  margin-bottom: 2px;
}

.menu-button:hover {
  color: var(--text-color-white);
  background-color: var(--hover-color-dark-grey);
}

/* new menus focus*/
.menu-button:focus {
  color: inherit;
  box-shadow: 0 0 0 2px var(--hover-color-dark-grey); 
}

.menu-close-button {
  width: auto;
  float: right;
  margin-right: 16px;
  font-size: 24px;
}
@media (max-width:992px){.menu-close-button{display: block;}}
@media (min-width:993px){.menu-close-button{display: none;}}

.menu-top-bar {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 16px;
  font-size: 24px;
}
.menu-overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-color-grey);
  cursor: pointer;
  animation: opac 0.8s;
}

.graph {
  display: inline-block;
  vertical-align: top;
  padding: 16px;
  margin: 8px 16px 8px 0px;
  background-color: var(--color-dark-grey);
}
.graph select:focus{
  background-color: var(--color-light-grey);
  /*border: 2px solid var(--color-dark-grey);*/
  box-shadow: 0 0 0 2px var(--color-dark-grey);
}
.graph canvas {
  display: block;
  background-color: var(--color-light-grey);
  margin: 8px 0px;
}
.graph button {
  float: right;
  width: 24px;
  height: 24px;
  background-color: inherit;
  border: none;
  margin-top: 4px;
}
.graph button:hover {
  background-color: var(--hover-color-dark-grey);
}
.graph button:active {
  box-shadow: 0 0 0 1px var(--color-black);
}

.msg.error {
  background-color: var(--color-light-red);
}
.msg.info {
  color: var(--text-color-dark-grey);
  background-color: var(--color-blue);
}

footer {
  margin: 32px -32px -32px -32px;
  padding: 16px 32px;
  color: var(--text-color-white);
  background-color: var(--hover-color-dark-grey);
}



/* New Styles */

.inputError {
  color: red;
  font-size: smaller;
  display: none; /* Hide by default */
}


.select:focus {
  box-shadow: 0 0 0 1px var(--color-dark-grey);
}

.href-focus:focus {
  background-color: var(--color-blue);
  color: var(--text-color-white);
  outline: none; /* Removes the default outline */
}

.slider:focus {
  color: var(--text-color-white);
  box-shadow: 0 0 0 2px var(--hover-color-grey); 
}

.hidden_p {
  color: var(--color-blue);
  font-size: smaller;
  display: none; /* Hide by default */
}

.ip-info {
  font-weight: bold;
}

.guide-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
