/* Elementos obtenidos de: W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* https://www.w3schools.com/w3css/4/w3.css */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-tr-black: rgba(0,0,0,0.5); /* transparent black */
  --color-grey: #9e9e9e;
  --color-light-grey: #f1f1f1;
  --color-light-grey2: #ccc;
  --color-dark-grey: #616161;
  --color-blue: #87CEEB;
  --color-deep-blue: blue;
  --color-red: red;
  --color-light-blue: #ddffff;
  --color-light-red: #ffdddd;
  --hover-color-grey: #ccc;
  --hover-color-dark-grey: #757575;
  --text-color-grey: #757575;
  --text-color-dark-grey: #3a3a3a;
  --text-color-white: #fff;
  --overlay-color-black: rgba(0,0,0,0.5);
  --overlay-color-grey: #3a3a3a;


  /* Agregar aca abajo los colores principales para despues cambiar con Light y Dark*/
  --text-color: var(--color-white);
  --background-color1: var(--color-black);
  --background-color2: var(--color-tr-black);
  
  --hover-color: var(--hover-color-grey);
  --overlay-color: var(--color-tr-black);

  /* menu */
  --text-menu-color: var(--hover-color-grey);
  --background-menu-color: var(--color-dark-grey);
  
  --menu-button-hover-color: var(--text-color-white);
  --menu-button-hover-background-color: var(--hover-color-dark-grey);

  --menu-button-active-background-color: var(--color-grey);
  --menu-button-active-boxshadow: var(--hover-color-dark-grey);

  /* text */
  --msg-info-color: var(--color-light-blue);
  --msg-error-color: var(--color-light-red);

  --error-color: var(--color-red);
  
  --hidden-p-color: var(--color-blue);

  --mark-color: var(--color-light-blue);

  --guide-link-color: var(--color-deep-blue);

  --inactive-step-color: var(--hover-color-dark-grey);

  /* buttons */
  --button-background-color: #333; /* Dark background */
  --button-color: #f0f0f0; /* Light text */
  --button-color-border:#555; /* Darker border */

  --button-color-border-focus: #888;
  --button-shadow-color-focus: #999;

  --button-color-hover: #444;

  --button-color-active: var(--color-dark-grey);


  --radio-color-accent: var(--color-dark-grey);

  --checkbox-color-accent: var(--color-blue);
  --checkbox-color-hover: var(--color-black);

  /* graph */
  --graph-background-color1: var(--color-dark-grey);
  --graph-background-color2: var(--color-grey);
  --graph-box-shadow: var(--text-color-dark-grey);

  --graph-button-hover: var(--hover-color-grey);

  /* href */
  --href-background-color: var(--color-blue);

  /* slider */
  --slider-color: var(--color-black);
  --slider-border: var(--hover-color-grey);

  /* inputs */
  --mark-color-bold: #007bff;
  --input-border-color: #aaa; /* ccc */
  --input-text-color: white;
  --input-focus-shadow-color: rgba(184, 219, 255, 0.5);
  --input-background-color: var(--color-dark-grey); 
  --input-background-color2: var(--button-background-color);

  --input-placeholder-color: #aaa;

}